// font-family: 'Forum', cursive;
// font-family: 'Lato', sans-serif;
// font-family: 'Roboto', sans-serif;
// #OBO752
// #e6a651
// #161E28
//#D6A561



@import url('https://fonts.googleapis.com/css2?family=Forum&family=Lato&family=Roboto&display=swap');


*{
        padding: 0;
        margin: 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
}

body{
        font-size: 14px;
        overflow-x:hidden ;
        font-family: 'Lato', sans-serif;
        h1{
                font-family: 'Forum', cursive;
                font-size: 100px;
        }
        h2{
                font-family: 'Forum', cursive;
                font-size: 35px;
                font-weight: 500;
                
        }
        h5{
                font-family: 'Forum', cursive;
                font-size: 25px;
                font-weight: 600;
        }
        a{
                text-decoration: none;
        }
        
}
main{
        padding: 10px;
        margin: 20px;
}

.navbar{
        a{
                font-size: 20px;
                color:#D6A561;
                transition: all 0.5s;
                img{
                        width: 55px;
                }
                &:hover{
                        color: white;
                        transition: all 0.5s;
                }
        } 
        .active{
                color: #ffffff !important;
                font-weight: bolder;
        }
        
}
.navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(214, 165, 97, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler{
        border: 1px solid #D6A561;
}


.container-hero{
        .bg-img{
                height: 100vh;
                width: 100%;
                object-fit: cover;
                filter: brightness(0.6);
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
        }
        .hero-text{
                display: flex;
                width: 100%;
                height: 70vh;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: white;
                img{
                        width: 10%;
                }
        } 
        h1{
                text-align: center;
                text-align-last: center;
        }
        p{
                text-align: center;
                text-align-last: center;
                font-size: 20px;
        }
}

.container-card{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
        text-decoration: none;
        .card{
                background-color: #0B0752;
                color: white;
                text-align: center;
                padding: 20px;
                margin: 10px;
                border-radius: 25px;
                border: 0;
                filter: drop-shadow(2px 2px 5px rgba(100, 100, 100,0.5));
        } .card-body{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
        }
        i{
                margin: 15px;
        }
        #centerCard{
                background-color:#D6A561 ;
        }a{
                text-decoration: none;
                
        }
}

.container-nosotros {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 70px;

        .nosotros-text{
                width: 70%;
                margin: 25px auto;
                text-align: justify ;
                /* background-color: #fff;*/
                border: 1px solid transparent;
                background-image: linear-gradient(#D6A561, #D6A561),
                                linear-gradient(#D6A561, #D6A561),
                                linear-gradient(#D6A561, #D6A561),
                                linear-gradient(#D6A561, #D6A561);           
                background-repeat: no-repeat;
                background-size: 10px 38%, 15% 10px, 10px 38%, 15% 10px, calc(100% - 8px) calc(100% - 8px);
                // background-position: left bottom, left bottom, right top, right top, 4px 4px;
                padding: 20px;
                height: auto;
        }
        } span{
                font-weight: bolder;        
        }


                .carousel {
                        background: #EEE;
        
                        img {
                                display: block;
                                height: 200px;
                        }
                }
        
        
                @media screen and (min-width: 768px) {
                        .carousel img {
                                height: 400px;
                        }
                }
                
// servicios 
.body-servicios{
        background-color: #e4d3bb;
}

.navbar-servicios{
        background-color: #161E28;
}

.container-servicios {
        margin: 20px;
        padding: 10px 20px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
        max-width: 95%;
        gap: 30px;
        justify-content: center;
        justify-items: center;
        .card {
                padding: 15px;
                border-radius: 20px;
                filter: drop-shadow(0.5px 0.5px 2px rgba(100, 100, 100, 0.5));
                transition: all 0.3s;
                &:hover{
                        background-color: #0B0752;
                        color: #ffffff;
                        transition: all 1s;
                }
        }
        .card-body{
                padding: 30px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                text-align: center;
                text-align-last: center;
                align-items: center;
                i{
                        padding: 10px;
                }
                h5{
                        padding: 4px;
                        margin: 5px;
                }
                p{
                        text-align: justify;
                }
                .fa-solid{
                        width: 70px;
                }
                img{
                        width: 70px;
                        &:hover {
                                color: white !important;
                        }
                }
        }

}



footer {
	width: 100%;
	background-color: #161E28;
        color: #D6A561;
	.container-footer {
		max-width: 100%;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	}
	.container-author {
		text-align: center;
	}
}
.container-footer {
        .box{
                text-align-last: center;
                padding: 5px;
                margin: 5px;
                p{
                        padding: 0;
                        margin: 0;
                }
        } 
	.box2{
                .social-media {
                        a {
                                display: inline-block;
                                text-decoration: none;
                                width: 55px;
                                line-height: 55px;
                                text-align: center;
                        }
                }
        }
}
.container-author {
	small {
		font-size: 10px;
	}
}
